<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>

    <style>
        html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
}

        .body{
            /* background-color: rgba(0,0,0); */
            background-image: url('http://www.suitsandkicks.com/wp-content/uploads/2016/12/Deskercise.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            
        }

        div.content{
            /* display: inline-block; */
            text-align: center;
            margin-top: auto;
        }

        footer {
            position:absolute;
      background-color: #555;
      color: white;
      padding: 15px;
     
     
      
    }
    
        button{
            margin-right: 10px;
            margin-left: 10px;
            width: 250px;
            height: 50px;
        }
      

        </style>
</head>
<body class="body">

    <div class="content">
        <h1 style="color:rgba(70,70,70); font-size:9rem;">EduZone</h1>
        <p style="font-size:3rem; color:rgba(90,90,90);">Start building your career here. </p>
        <a style="width:250px"class="btn btn-lg btn-danger" href="/student/login">Login</a>
        <!-- <button class="btn btn-lg btn-danger "> Login as a User </button> -->
        <a style="width:250px"class="btn btn-lg btn-info" href="/register"> Register  </a>
    </div>
    <!-- <footer class="container-fluid text-center">
        <p>Footer Text</p>
      </footer> -->
     </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>